# Auth
AUTH_SECRET=
AUTH_GOOGLE_ID=
AUTH_GOOGLE_SECRET=
AUTH_GITHUB_ID=
AUTH_GITHUB_SECRET=

# Database
TURSO_DATABASE_URL=
TURSO_AUTH_TOKEN=

# SaaS Maker
SAASMAKER_API_URL=https://api.sassmaker.com
SAASMAKER_ADMIN_KEY=

# App
NEXT_PUBLIC_APP_URL=http://localhost:3000
